<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link rel="stylesheet" type="text/css" href="/public/css/login/style.css" />
	<link rel="stylesheet" type="text/css" href="/publiccss/login/body.css" />
	<link rel="stylesheet" type="text/css" href="/publiccss/login/login.css" />
</head>

<body>
	<div class="container">
		<section id="content">
			<form id="loginForm" onsubmit="return login()" method="post">
				<h1>会员登录</h1>
				<div>
					<input type="text" name="username" placeholder="用户名" required="" id="username" />
				</div>
				<div>
					<input type="password" name="password" placeholder="密码" required="" id="password" />
				</div>
				<div class="login_error_tips">
					<span class="help-block u-errormessage" id="js-server-helpinfo"></span>
				</div>
				<div>
					<!-- <input type="submit" value="Log in" /> -->
					<input type="submit" value="登录" class="btn btn-primary" id="js-btn-login"/>
					<!-- <input type="submit" value="注册" class="btn btn-primary" id="js-btn-reg"/> -->
					<a href="#">忘记密码?</a>
					<a href="#" id="register">Register</a>
				</div>
			</form>
		</section>
		<!-- content -->
	</div>
	<!-- container -->
	<script src="/public/js/common/jquery-1.8.3.min.js"></script>
	<script src="/public/js/login/index.js"></script>
</body>

</html>